    img {
        width: 20%;
    }
    table {
        width: 100%;
        background-color: gray;
    }
    .titles th {
        font-family: Arial;
        border: 2px solid black; 
        text-align: center;
        color: white;
        padding: 10px;
    }
    .titles .titleOne {
        width: 20%;
    }

    td {
        font-family: Courier;
        border: 1px solid silver;
        text-align: center;
    }
    td img {
        text-align: left;
    }
    h1 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: beige;
    }
    h3 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: beige;
    }
    html {
        background-color: black;
    } 

@media screen and (max-width: 1280px) {
    img {
        width: 20%;
    }
    table {
        width: 100%;
        height: 100%;
        background-color: purple;
    }
    .titles th {
        font-family: Arial;
        border: 2px solid black; 
        text-align: center;
        color: hotpink;
        padding: 10px;
    }
    .titles .titleOne {
        width: 20%;
    }

    td {
        font-family: Courier;
        font-weight: bold;
        color: white;
        border: 1px solid silver;
        text-align: center;
    }
    td img {
        text-align: left;
    }
    h1 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: beige;
    }
    h3 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: beige;
    }
    html {
        background-color: black;
    } 
}
@media screen and ( max-width: 1080px) {
    img {
        width: 20%;
    }
    table {
        width: 100%;
        background-color: red;
    }
    .titles th {
        font-family: Arial;
        border: 2px solid black; 
        text-align: center;
        color: blue;
        padding: 10px;
    }
    .titles .titleOne {
        width: 20%;
    }

    td {
        font-family: Courier;
        border: 1px solid silver;
        text-align: center;
    }
    td img {
        text-align: left;
    }
    h1 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: beige;
    }
    h3 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: beige;
    }
    html {
        background-color: blue;
    } 
}

@media screen and (max-width: 800px) {
    img {
        width: 20%;
    }
    table {
        width: 100%;
        background-color: red;
    }
    .titles th {
        font-family: Arial;
        border: 2px solid black; 
        text-align: center;
        color: blue;
        padding: 10px;
    }
    .titles .titleOne {
        width: 20%;
    }

    td {
        font-family: Courier;
        border: 1px solid silver;
        text-align: center;
    }
    td img {
        text-align: left;
    }
    h1 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: beige;
    }
    h3 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: beige;
    }
    html {
        background-color: greenyellow;
    } 

}