    img {
        width: 20%;
    }
    table {
        width: 100%;
        background-color: purple;
    }
    .titles th {
        font-family: Arial;
        border: 2px solid black; 
        text-align: center;
        color: white;
        padding: 10px;
    }
    .titles .titleOne {
        width: 20%;
    }

    td {
        font-family: Courier;
        border: 1px solid silver;
        text-align: center;
    }
    td img {
        text-align: left;
    }
    h1 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: beige;
    }
    h3 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: beige;
    }
    html {
        background-color: black;
    } 